@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* --- import by font face ---  */
@font-face {
  font-family: "Brazilia";
  src: url("/public/fonts/lonely-primary.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* --- import by font face ---  */


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-primary scroll-smooth
  }
  .container{
    @apply !w-full !px-[.75rem] mx-auto xl:!max-w-[1075px] lg:!max-w-[992px] md:!max-w-[720px] sm:!max-w-[576px]
  }
}



/* ---- custom ----- */
._menu-svg > span {
  @apply !w-full !h-full
}

.mantine-Drawer-drawer{
  @apply bg-[url('/images/roots/roots-bg.png')] !bg-cover !bg-center !bg-no-repeat !bg-fixed
}

.mantine-Drawer-drawer svg{
  @apply text-white
}

.__tv-btn-dis{
  background-color: rgb(93, 93, 93);
  cursor: not-allowed;
}

.wu{
  @apply text-[#e7e7e7] underline uppercase
}

.mr{
  @apply text-[#c9c9c9] uppercase
}